footer.rodape {
    height: 29.4rem;
    width: 100%;
    padding: 6.4rem 2.4rem;
    background-color: var(--Primary-color);
}


footer .autorais {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

footer p {
    color: var(--cor-de-fundo);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

footer ul {
    display: flex;
    gap: 3.9rem;
    list-style: none;
    margin-top: 3.2rem;
}